<mat-toolbar color="warn" >
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
  <button mat-menu-item (click)="listLivre()">Listes des livres</button>
  
  <button mat-menu-item (click)="ajoutLivre()">Ajouter un livre</button>
  <button mat-menu-item (click)="editerUsers()">Users</button>

  </mat-menu>
  
      <span>Books</span>
      <span class="material-symbols-outlined">
        <mat-icon>library_books</mat-icon>
        </span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon person-edit" aria-label="Example icon-button with heart icon" (click)="profileEdit()">
        <mat-icon>person-edit</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>