
<div class="main-body">
    <div class="mat-elevation-z8 " id="div_p" >
      <table mat-table [dataSource]="dataSource" matSort >
    
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
    
        <!-- titre Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
    
        <!-- auters Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>
    
        <!-- categories Column -->
        <ng-container matColumnDef="is_superuser">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Administrateur </th>
            <td mat-cell *matCellDef="let row"> {{row.is_superuser}} 
              <mat-slide-toggle (change)="openDialog(row)" [(ngModel)]="row.is_superuser"></mat-slide-toggle>
            </td>
           
          </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" ></mat-paginator>
    </div>
    </div>